########## Common Use ##########
**/target
*/target/**
*/target/*
**/classes
/index/
########## InteliJ IDEA ##########
**.iml
########## Eclipse IDEA ##########
.settings
.classpath
.project
.metadata
########### MAC OS ###########
**.DS_Store
