@CHARSET "UTF-8";

.white { background-color: #fff; }

div.content .padding-left-15 { padding-left: 15px; }
div.content .padding-bottom-7 { padding-bottom: 7px; }
div.content .padding-bottom-15 { padding-bottom: 15px; }

div.content div.text strong { font-weight: 600; }

div.content div.text { float: left; margin-top: 15px; width: 1024px; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.15); font-family: Metrophobic; }

div.content div.text div.title { float: left; font-size: 26px; font-weight: bold; line-height: 20px; padding: 15px 15px 0; width: 994px; }

div.content div.text article { float: left; margin-top: 15px; width: 679px; }
div.content div.text article p { color: #7d7d7d; font-size: 13px; line-height: 19px; max-width: 1024px; word-wrap: break-word; }
div.content div.text article p a { text-decoration: none; }

div.content div.text article div.photo { background-color: white; padding: 0px; display: table; margin-top: 0 auto; }
div.content div.text article div.photo img { display: block; border: 0px; margin: 0px; padding: 0px; }
div.content div.text article div.photo div { background-color: #48266b; color: #fff; text-align: center; opacity: 0.9; }

div.content div.text article div.size420,
div.content div.text article div.size420 img { width: 420px; }
div.content div.text article div.size420 > div { font-size: 12px; line-height: 20px; padding: 10px; width: 400px; }

div.content div.text article div.right { float: right; clear: right; margin-left: 15px; }
div.content div.text article div.center { width: 100%; }
div.content div.text article div.center img,
div.content div.text article div.center div { display: table; margin: 0 auto; }

div.content div.ads { float: right; margin: 20px 10px; }

@media screen and (max-width: 800px){
	
	div.content div.text {  width: 97%; margin: 2% 1.5%; border: none; }
	div.content div.text div.title { width: 100%; padding: 0; font-size: 2.5em; line-height: 1.3em; }
	div.content div.text article { width: 100%; padding: 0; }
	div.content div.text article p { width: 100%; min-width: 320px; font-size: 1.2em; line-height: 1.3em;  }
	
	div.content div.text article div.size420 { width: 100%; margin: 0 0 3% 0; }
	div.content div.text article div.size420 img { width: 100%; margin: 0; }
	div.content div.text article div.size420 > div { width: 97%; padding: 1.5%;  font-size: 1.1em; line-height: 1.3em; }
	
	div.content div.ads { display: none; }
	
	div.content .padding-left-15,
	div.content .padding-bottom-7,
	div.content .padding-bottom-15 { padding-bottom: 2%; }
}

@media screen and (max-width: 420px){
	div.content div.text { margin: 5% 1.5%; }
	div.content div.text div.title { font-size: 2.2em; line-height: 1.2em; } 
	div.content div.text article p { font-size: 1em; } 
	
	div.content div.text article div.size420 > div { font-size: 0.85em; } 
}
