@CHARSET "UTF-8";

body div.header { position: fixed; }

body .topics { float: left; width: 62%; margin-top: 3.5em; background: #fff; border: 1px solid #e1e8ed; border-radius: 6px; padding: 5% 19%; }
body .topics span { color: #66757f; font-size: 17px; font-weight: 300; width: 100%; line-height: 1.3em; float: left; }
body .topics .itens { float: left; margin-top: 0.7em;  }
body .topics .itens a { float: left; text-decoration: none; color: #0084b4; font-weight: bold; width: 100%; line-height: 2.5em; font-size: 12.5px;} 

body .placard { float: left; width: 90%; margin-top: 10px; background: #fff; border: 1px solid #e1e8ed; border-radius: 6px; padding: 5%; }
body .placard span { color: #8899a6; line-height: 22px; font-size: 12px; float: left; }
body .placard a { text-decoration: none; color: #8899a6; line-height: 22px; font-size: 12px; float: right; margin-left: 20%; }

body .page { float: left; width: 100%; margin: 3.5em 0;  }

body .page .item { width: 95%; float: left; border: 1px solid #e1e8ed; background-color: #fff; padding: 1.5% 2.5%; font-size: 0.9em; }
body .page .item .bloc-info { width: 100%; float: left;  }
body .page .item .bloc-info a { text-decoration: none; color: #292f33; width: 100%; }
body .page .item .bloc-info a strong { float:left; color: #292f33; font-weight: bold; line-height: 1em; }
body .page .item .bloc-info  .time { float: right; color:#8899a6; line-height: 0.83em; font-size: 0.85em; }
body .page .item .bloc-info  .location { float: right; color:#8899a6; margin-left: 2%; width: 6%; font-size: 0.85em; }
body .page .item .bloc-info  .location .geo-icon { width: 0.50em; float: right; background-color: #8899a6;  }
body .page .item .bloc-info  .location strong { line-height: 0.83em; float: right; margin-left: 0.3em; }

body .page .item .url { float: left; width: 100%; line-height: 1.2em; padding-top: 0.7%; font-size: 0.95em;  }
body .page .item .url a { text-decoration: none; width: 100%; }
body .page .item .url-red a { color: #d9534f; }
body .page .item .url-green a { color: #008B8B; }

body .page .item .search-tags { float: left; width: 100%; padding-top: 0.7%; font-size: 0.95em; }
body .page .item .search-tags div a { text-decoration: none; color: #0084b4; margin-right: 1%;  } 

body .timeline_twitter { float: left; margin-top: 3.5em; }
body .timeline_twitter .twitter-tweet { margin: 0 !important; }

@media screen and (max-width: 800px){
	body .header .container-mobile .search-form .form-close { top: 3%; width: 5%;  }
	
	body .timeline_twitter,
	body .topics, 
	body .placard { display: none; }
	
	body .page .item { border-bottom: 2px solid #e1e8ed; border-top: none; border-left: none; border-right: none; padding: 4% 2.5%; }
	
	body .page .item .url { font-size: 1.4em; padding-top: 1.5%; }
	body .page .item .url a { float: left; word-break: break-all; }
	
	body .page .item .search-tags { font-size: 1.2em; padding-top: 1.5%; }
	
	body .page .item .bloc-info .time { font-size: 1em; line-height: 1.1em; }
	body .page .item .bloc-info .location { width: 10%; font-size: 1em; margin-left: 1%;  }
	body .page .item .bloc-info .location .geo-icon { width: 0.55em; margin-top: 0.15em; }
	body .page .item .bloc-info .location strong { line-height: 1.2em;  }
	
	body .page .item .bloc-info a strong { font-size: 1.3em; line-height: 0.75em;  }
	
}

@media screen and (max-width: 420px){
	body .header .container-mobile .search-form .form-close { top: 5%; width: 5.5%;  }
	
	body .page .item .url { font-size: 1.2em; }
	
	body .page .item .search-tags { font-size: 1.1em; }
	
	body .page .item .bloc-info .time { font-size: 0.95em; line-height: 1.1em; }
	body .page .item .bloc-info .location { font-size: 0.95em; margin-left: 3%; }
	
	body .page .item .bloc-info a strong { font-size: 1.1em; line-height: 0.85em; }
}
