@CHARSET "UTF-8";

.itens { float: left; width: 100%; margin-top: 2%;  }

.itens .item { width: 95%; float: left; border: 1px solid #e1e8ed; background-color: #fff; padding: 1.5% 2.5%; font-size: 0.9em; }

.itens .item .bloc-info { width: 100%; float: left;  }
.itens .item .bloc-info a { text-decoration: none; color: #292f33 }
.itens .item .bloc-info a strong { float:left; color: #292f33; font-weight: bold; line-height: 1em; }
.itens .item .bloc-info  .time { float: left; color:#8899a6; line-height: 1.1em }
.itens .item .bloc-info  .location { float: left; color:#8899a6; margin: 0.3% 0.1% 0 4%; width: 6%; }
.itens .item .bloc-info  .location .geo-icon { width: 0.55em; float: left; background-color: #8899a6;  }
.itens .item .bloc-info  .location strong { line-height: 0.9em; float: right; margin-right: 0.3em; }

.itens .item .url { float: left; width: 100%; line-height: 1.2em; padding-top: 0.4%; }
.itens .item .url a { text-decoration: none;  }
.itens .item .url-red a { color: #e62117; }
.itens .item .url-green a { color: #008B8B; }

.itens .item .search-tags { float: left; width: 100%; padding-top: 0.4%; }
.itens .item .search-tags div a { text-decoration: none; color: #0084b4; margin-right: 1%;  } 
