@charset "UTF-8";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

html, body { float: left; width: 100%; height: 100%; padding: 0; margin: 0; z-index: 1; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 1em; background-color: #f5f8fa; }

div.content { margin: 0 auto; width: 590px;}

.bold {font-weight: bold;}
.show { display: block; }
.hide { display: none; }

.box-590 { float: left; width: 590px; }


body > div.header { float: left; width: 100%; min-width: 1024px; background-color: #ffffff; z-index: 2; border-bottom: 1px solid rgba(0, 0, 0, 0.15); height: 46px; }

body > .header .container { float: left; width: 84%; padding: 0 8%; height: 100%; }

body > .header .container .menu-left { width: 28%; float:left; position: relative; height: 100%; }
body > .header .container .menu-left ul { float: left; width: 100%; height: 100%;}
body > .header .container .menu-left ul li { float: left; list-style-type: none; padding: 3% 7% 0% 4%; font-size: 13px; font-weight: 500; height: 70% }
body > .header .container .menu-left ul li a { float:left; text-decoration: none; width: 100%; height: 2em; line-height: 2em; height: 100%; }
body > .header .container .menu-left ul .selected { border-bottom: 5px solid #48266b; }
body > .header .container .menu-left ul li:HOVER { border-bottom: 5px solid #48266b; }
body > .header .container .menu-left ul li a img { width: 1.5em; height: auto; background-color: #66757f; float: left; margin-top: 0.25em; }
body > .header .container .menu-left ul li a img:HOVER {  background-color: #48266b; }
body > .header .container .menu-left ul li a span { color: #66757f; line-height: 2.2em; float: left; margin-left: 0.4em; }
body > .header .container .menu-left ul li a span:HOVER { color: #48266b; }

body > .header .container .menu-middle { float: left; width: 33%; height: 88%; position: relative; text-align: center; padding-top: 0.5%; }
body > .header .container .menu-middle .logo { margin: auto; width: 32px; background-image: url('/public/img/bg-purple.png'); }

body > .header .container .menu-right { width: 38%; float:right; position: relative; }

body > .header .container .menu-right .search-form { float: left; font-size: 0.9em; height: 2.3em; margin: 1.6% 5% 0 0; width: 65%; }
body > .header .container .menu-right .search-form .search-input { float:left; background-color: #f5f8fa;  border: 1px solid #e1e8ed; border-radius: 21px; box-sizing: border-box; color: #292f33; display: block; height: 3em; line-height: 1em; padding: 0.5em 3em 0.5em 1.3em; width: 100%; }
body > .header .container .menu-right .search-form .search-icon { position: absolute; width: 1.3em; margin: 0.4em 0em 0 -2em; z-index: 50; cursor: pointer; }
body > .header .container .menu-right .search-form .search-icon img { width: 100%; height: auto; }

body .new-scan { width: auto;  float: right; margin-top: 1.4%; background-image: url('/public/img/bg-purple.png'); background-position: right top; border: 1px solid transparent; border-radius: 5px; cursor: pointer; box-shadow: 1px 1px 3px #777; }
body .new-scan:HOVER { background-position: bottom;  }
body .new-scan .icon { width: 2.15em; float: left; margin: 0.4em 0.1em;  }
body .new-scan  .icon img { width: 100%; height: auto; }
body .new-scan .text { color: #fff; font-size: 1.2em; font-weight: bold; margin: 0.52em 0.3em; float: left;  }


