@charset "UTF-8";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

html, body { float: left; width: 100%; height: 100%; padding: 0; margin: 0; z-index: 1; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 1em; background-color: #f5f8fa; }

div.content { margin: 0 auto; width: 590px;}

.bold {font-weight: bold;}
.show { display: block; }
.hide { display: none; }

.box-590 { float: left; width: 590px; }


body > div.header { float: left; width: 100%; background-color: #ffffff; z-index: 2; box-shadow: 2px 2px 2px #777; height: 46px; }

body > .header .container { float: left; width: 84%; padding: 0 8%; }

body > .header .container .menu-left { width: 28%; float:left; position: relative; }
body > .header .container .menu-left ul { float: left; width: 100%;}
body > .header .container .menu-left ul li { float: left; list-style-type: none; padding: 0 1%; }
body > .header .container .menu-left ul li a { float:left; text-decoration: none; width: 100%; }

body > .header .container .menu-right { width: 28%; float:right; position: relative; }



