@charset "UTF-8";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

html, body { float: left; width: 100%; height: 100%; padding: 0; margin: 0; z-index: 1; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 1em; background-color: #f5f8fa; }

div.content { margin: 0 auto; width: 100%; display: table; width: 1190px; }

div.area { margin: 0 auto; width: 596px;}

.bold {font-weight: bold;}
.show { display: block; }
.hide { display: none; }

.box-1024 { width: 1024px; }
.box-590 { width: 590px; }
.box-290 { width: 290px; }

.margin-auto { margin: 0 auto; }
.margin-left { margin: 0; }

body .disabled { opacity: 0.5; box-shadow: none !important; cursor: default !important; }

body div.header { float: left; width: 100%; min-width: 1024px; background-color: #ffffff; z-index: 2; border-bottom: 1px solid rgba(0, 0, 0, 0.15); height: 46px; }

body .header .container { float: left; width: 84%; padding: 0 8%; height: 100%; }

body .header .container .menu-left { width: 28%; float:left; position: relative; height: 100%; }
body .header .container .menu-left ul { float: left; width: 100%; height: 100%;}
body .header .container .menu-left ul li { float: left; list-style-type: none; padding: 3% 7% 0% 4%; font-size: 13px; font-weight: 500; height: 70% }
body .header .container .menu-left ul li a { float:left; text-decoration: none; width: 100%; height: 2em; line-height: 2em; height: 100%; }
body .header .container .menu-left ul .selected { border-bottom: 5px solid #48266b; }
body .header .container .menu-left ul li:hover { border-bottom: 5px solid #48266b; }
body .header .container .menu-left ul li a img { width: 1.5em; height: auto; background-color: #66757f; float: left; margin-top: 0.25em; }
body .header .container .menu-left ul li a img.hover {  background-color: #48266b; }
body .header .container .menu-left ul li a span { color: #66757f; line-height: 2.2em; float: left; margin-left: 0.4em; }
body .header .container .menu-left ul li a span.hover { color: #48266b; }

body .header .container .menu-middle { float: left; width: 33%; height: 88%; position: relative; text-align: center; padding-top: 0.5%; }
body .header .container .menu-middle .logo { margin: auto; width: 32px; background-color: #48266b; }

body .header .container .menu-right { width: 38%; float:right; position: relative; }

body .header .container .menu-right .search-form { float: left; font-size: 0.9em; height: 2.3em; margin: 1.6% 5% 0 0; width: 65%; }
body .header .container .menu-right .search-form .search-input { float:left; background-color: #f5f8fa;  border: 1px solid #e1e8ed; border-radius: 21px; box-sizing: border-box; color: #292f33; display: block; height: 3em; line-height: 1em; padding: 0.5em 3em 0.5em 1.3em; width: 90%; }
body .header .container .menu-right .search-form .search-icon { position: absolute; width: 1.3em; margin: 0.4em 0em 0 -2em; z-index: 50; cursor: pointer; }
body .header .container .menu-right .search-form .search-icon img { width: 100%; height: auto; }

body .button { box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset; background-color:#48266b; border-radius:4px; display:inline-block; cursor:pointer; color:#ffffff; font-size:13px; font-weight:500; padding:0.55em 1.4em; text-decoration:none; width: auto; float: right; margin-top: 1.52%; border: 1px solid transparent; }
body .button:hover:enabled { background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); }
body .button:active:enabled { box-shadow: 0 1px 1px rgba(0, 0, 0, 1) inset; }

body .body-off { width: 100%; height: 100%; position: absolute; background-color: #000; opacity: 0.7; z-index: 99; left: 0; top:0; display: none; }

body .popup { width: 100%; max-width: 600px; position:absolute; margin: auto; z-index: 100; border-radius: 4px; background-color: #f5f8fa; top: 20%; display: none; }

body .popup .popup-header { width: 100%; text-align: center; float: left; color: #fff; border-bottom: 1px solid #fff; background-color: #381b55; border-radius: 4px 4px 0 0; }
body .popup .popup-header .title { line-height: 2.6em; }
body .popup .popup-header .close { margin: -1.7em 0.9em 0; }
body .popup .popup-header .close img { width: 0.65em; }

body .popup > input { float: left; width: 90%; margin: 3%; font-size: 0.9em; border: 1px solid #8ec6dd; border-radius: 3px; padding: 1% 2%; }

body .popup > input.error::-moz-placeholder { color:red; font-style: italic;  }
body .popup > input.error:-moz-placeholder{ color:red; font-style: italic;  }
body .popup > input.error::-moz-placeholder { color:red; font-style: italic;  }
body .popup > input.error:-ms-input-placeholder { color:red; font-style: italic;  }
body .popup > input.error::-webkit-input-placeholder { color:red; font-style: italic;  }

body .popup .popup-filter { width: 94%; text-align: center; float: left; margin: 0 3% 3%; padding: 1.5% 0; background-color: #f1f1f1; border: 1px solid #ccd6dd; border-radius: 5px; display: none; }
body .popup .popup-filter > span { float: left; font-size: 0.8em; margin: 0.5% 3% 0 22.5%; color: #aab8c2; font-weight: bold; }
body .popup .popup-filter .close { margin: -0.2em 0.4em 0; }
body .popup .popup-filter .close img { width: 0.55em; }

body .popup .close { float: right; cursor: pointer; }

body .popup .popup-footer { width: 94%; float: left; margin: 0 3% 3%; }
body .popup .popup-footer .option-container { float: left; position: relative; padding: 0.1em 0.3em; border-radius: 4px; cursor: pointer; margin-top: 0.2%; border: 1px solid transparent; background-color: transparent; }
body .popup .popup-footer .option-container:hover:enabled { background-color: rgba(255, 255, 255, 0.25); background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 132, 180, 0.1)); border: 0.5px solid #48266b; }
body .popup .popup-footer .option-container:active:enabled { background-image: linear-gradient(rgba(0, 132, 180, 0.1), rgba(255, 255, 255, 0)); }
body .popup .popup-footer .options { width: 30px; margin: 0.16em; float: left; }
body .popup .popup-footer .loading { float: left; width: 32px; margin-left: 63%; margin-top: 6px; display: none; }
body .popup .popup-footer .button { margin-top: 0; padding: 0.8em 1.9em; font-weight: 600; }
